@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --dark90: #181818;
    --dark80: #303030;
    --dark70: #474747;
    --dark50: #777777;
    --dark10: #d6d6d6;
    --dark0: #eeeeee;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark0);
}
/* header style  */
header{
  background-color: var(--dark80);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.container .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    
}
.navbar .toggle{
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--dark0);
    border: none;
    background-color: transparent;
}
.navbar .logo h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}
.navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar nav ul{
    display: flex;
    align-items: center;
    gap: 34px;
    list-style: none;
}
.navbar nav ul li a{
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--dark10);
}
#highlight{
    color: white;
}
.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: var(--dark50);
    color: white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
}
/* banner style  */
.banner-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 50px 0;
}
.banner-content h1{
    font-size: 1.5rem;
    color: var(--dark90);
    font-weight: 700;
    margin-bottom: 16px;
}
.banner-content p{
    font-size: 1rem;
    color: var(--dark90);
    font-weight: 500;
    margin-bottom: 18px;
}
.btn1{
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: var(--dark90);
    color: white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    margin-right: 10px;
    cursor: pointer;
}
.btn1:active{
    background-color: transparent;
    border: 1px solid var(--dark70);
    color: var(--dark90);
}
.btn2{
    padding: 9px 20px;
    border: 1px solid var(--dark70);
    border-radius: 15px;
    color: var(--dark90);
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.btn2:active{
    background-color: var(--dark90);
    color: white;
}
/* about style  */
.about{
   background-color: white;
   margin: 0;
   padding: 0;
   border: 1px solid transparent;
   /* max-width: 0; */
}
.about-container{
    display: flex;
    justify-content: space-between;
    margin: 3.125rem 7.5rem;
    align-items: center;
}
.about-card{
    max-width: 18.75rem;
    /* border: 1px solid; */
    align-items: center;
    text-align: center;
    padding: 13px 15px;
    background-color: var(--dark0);
    border-radius: 10px;
}
.about-card h2{
    font-size: 1.1rem;
    color: var(--dark90);
    margin-bottom: 10px;
}
.about-card p{
    font-size: 0.8rem;
    color: var(--dark90);
    margin-bottom: 10px;
}
.about-card a, .blog-card a{
    text-decoration: none;
    font-size: 0.93rem;
    color: var(--dark90S);
}
.about-card a:hover, .blog-card a:hover{
    border-bottom: 1px solid var(--dark90);
}

.about-card img{
    width: 2.5rem;
    height: 2.5rem;
    filter: grayscale(100%);
}
/* blog style  */
.card-container{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 3.125rem 7.5rem;
    align-items: center;
}
.blog h2{
    margin: 3rem 7.5rem;
}
.blog-card{
    max-width: 18.75rem;
    /* border: 1px solid; */
    align-items: center;
    /* text-align: center; */
    padding: 13px 15px;
    background-color: white;
    border-radius: 10px; 
}
.blog-card h3{
    color: var(--dark90);
    margin-bottom: 10px;
}
.blog-card p{
    color: var(--dark90);
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.blog-card img{
    width: 100%;
    filter: grayscale(70%);
}
/* get-start style  */
.get-start{
    background-color: var(--dark80);
    color: white;
    border: 1px solid var(--dark80);
}
.get-start div {
    margin: 3.125rem 7.5rem;
    text-align: center;
}
.get-start div h2{
    font-weight: 600;
    margin-bottom: 10px;
}
.get-start p{
    font-size: 0.8rem;
    font-weight: 100;
    word-spacing: 1px;
    margin-bottom: 14px;
    color: #afafaf;
}
.get-start button{
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: var(--dark0);
    color: var(--dark80);
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
}
.get-start button:active{
    background-color: var(--dark50);
    color: var(--dark0);
}
/* footer style  */
footer{
    background-color: var(--dark90);
    border: 1px solid var(--dark90);
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    color: var(--dark0);
    margin: 3.125rem 7.5rem;
}
.footer-container h2{
    font-weight: 600;
    margin-bottom: 14px;
}
.service ul li{
    list-style: none;
    font-weight: 200;
    font-size: 0.9rem;
    margin-bottom: 6px;
    color: #afafaf;
}
/* responsive for mobile  */
@media screen and (max-width: 576px) {
    .navbar .toggle{
    display: block;
    }
    .navbar nav ul, header .btn{
        display: none;
    }
    .banner-area{
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner-area img{
        width: 100%;
    }
    .about-container, .card-container{
        flex-direction: column;
        width: 90%;
        align-items: center;
        margin: 15px auto;
        gap: 8px;
    }
    .blog h2{
        text-align: center;
        margin: 25px;
    }
    .get-start div {
       margin: 3rem auto;
       text-align: center;
    }
    .footer-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
        margin: 3rem 3rem;
    }
}